/* Reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    width: auto;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* tags style */

body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

main {
    margin-top: 40px;
}

/* utility classes */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.mrg-top-ul {
    margin-top: 40px;
}

.mrg-top-li {
    margin-top: 25px;
}

        /* background colors */
.bgc-white {
    background-color: white;
}

.bgc-blue {
    background-color: #45ABEA;
}

.bgc-violet {
    background-color: #9c72e4;
}

.bgc-oceanblue {
    background-color: #64c0a9;
}

.bgc-orange {
    background-color: #f29e33;
}

.bgc-lightviolet {
    background-color: #d863a1;
}

.bgc-green {
    background-color: #b0c926;
}

/* logo bar */
.logo {
    vertical-align: middle;
    width: 60px;
}

.logo-bar {
    font-size: 45px;
    font-weight: 700;
    color: #041931;
    padding: 15px 25px;
}

/* buttons bar */
.buttons-bar {
    padding: 15px 60px 10px 60px;
    margin-bottom: 5px;
}

.button {
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.task-button {
    background-color: #47adf1;
    border: 1.5px solid #47adf1;
    color: white;
}

.section-button {
    margin-left: 8px;
    border: 1.5px solid #b2b9be;
    color: #DADFE1;
    font-weight: 600;
}

/*  todo-list  */

.todo-list {
    padding: 50px;
    color: #454952;
}

.todo-list__title {
    margin-bottom: 10px;
}

.todo-list__message {
    font-size: 18px;
}

.check-mark {
    display: inline-block;
    height: 18px;
    width: 18px;
    font-size: 14px;
    border-radius: 50%;
    border: 1.5px solid rgb(80, 219, 80);
    color: rgb(80, 219, 80);;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
}

.cross-mark {
    display: inline-block;
    height: 18px;
    width: 18px;
    font-size: 14px;
    border-radius: 50%;
    border: 1.5px solid rgb(223, 52, 52);
    color: rgb(223, 52, 52);;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
}

.subject {
    display: inline-block;
    font-size: 11px;
    padding: 8px 15px;
    border-radius: 15px;
    color: white;
}